<div class="col-xs-12">
    <div class="background-logo">
        <div class="row">
            <div class="col-md-4">
              <img src="../../assets/images/kr1.png" id="img1" alt="">
            </div>
            <div class="col-md-4 col-md-offset-4">
                   <div class="header-icons-group">
                    <a href="#">
                    <img src="../../assets/images/sn/f.png" alt="" class="footer-icons"></a>
                    <a href="#">
                    <img src="../../assets/images/sn/t.png" alt="" class="footer-icons"></a>&nbsp;
                    <a href="#">
                    <img src="../../assets/images/sn/g.png" alt="" class="footer-icons"></a>&nbsp;
                    <a href="#">
                    <img src="../../assets/images/sn/y2.png" alt="" class="footer-icons"></a>&nbsp;
                    <a href="index.php?view=about">
                    <img src="../../assets/images/sn/p.png" class="footer-icons" alt="">
                    </a>
                
                </div>

            </div>
        </div>
    </div>
</div>