
    <div class="sidebar-logo">
        <img src="../../assets/images/kremen-sidebar.png" alt="">
    </div>
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">населення</a></li>
        <li><a href="#">бюджет міста</a></li>
        <li><a href="#">економічний розвиток міста</a></li>
        <li><a href="#">комунальні послуги житловий фонд</a></li>
        <li><a href="#">благоустрій</a></li>
        <li><a href="#">безпека в місті</a></li>
        <li><a href="#">громадський транспорт</a></li>
        <li><a href="#">соціальний захист</a></li>
        <li><a href="#">охорона здоровя</a></li>
        <li><a href="#">освіта</a></li>
        <li><a href="#">культура і мистецтво</a></li>
        <li><a href="#">туризм</a></li>
        <li><a href="#">гаряча лінія міста</a></li>
        <li><a href="#">адміністративні послуги</a></li>
    </ul>
    
