/* 
* Sidebar
body {
  background-color: #fff; 
}
Hide for mobile, show later
.sidebar {
  display: none;

}

.sidebar {
    position: fixed;
    height: 100vh;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px !important;
    overflow-x: hidden;
    overflow-y: hidden; Scrollable contents if viewport is shorter than content.
    background-color: #fff;
    border-right: 1px solid #eee;
  }

  .sidebar-logo {
    height: 13vh;
  }

  .sidebar-logo img {
    padding-top: 10px;
    width: 100%;
    height: auto;
  }


Sidebar navigation
.nav-sidebar {
  margin-right: -21px; 20px padding + 1px border
  margin-bottom: 20px;
  margin-left: -20px;
  height: 87vh;
  overflow-y: auto;
}

.nav li {
  border-top: 1px solid rgba(221,221,221,0.4);
}

.nav li:last-child {
  border-bottom: 1px solid rgba(221,221,221,0.4);
}

.nav-sidebar > li > a {
  padding: 12px 20px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;

}
.nav-sidebar > .active > a {
  background-color: #417FC4;
  color: #fff !important;
  font-size: 12px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #417FC4;
  color: #fff !important;
  transition: .2s ease;
}


@media (max-width: 1200px) {
  .sidebar {
    position: relative;
    height: 100vh;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; Scrollable contents if viewport is shorter than content.
    background-color: #fff;
    border-right: 1px solid #eee;
  }
  .sidebar-logo {
    height: 13vh;
    margin-bottom: 50px;
  }

  .nav-sidebar > li > a {
  text-align: center;

}


}
 */