<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.php">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../../core/jquery_circleful/jquery.circliful.css" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../core/jquery_circleful/jquery.circliful.min.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Base layout</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/animation/dist/aos.css" />
    <style>
    * {
        font-family: 'Open Sans', sans-serif;
        overflow-x: hidden;
        
    }

    </style>
</head>

<body style="background-color: #F8FAFF;">

    <div class="container-fluid">
        <div class="row">
            <?php
    render_component("header", []);
    ?>
        </div>
        <div class="row">
            <?php
    render_component("main-page",[]);
    ?>
        </div>
        <div class="row">
            <?php
    render_component("footer", []);
    ?>
        </div>
  


    </div>

    <script src="../../assets/animation/dist/aos.js"></script>
    <script>
    AOS.init({
        easing: 'ease-in-out-sine'
    });

    </script>
    
</body>

</html>