
    <div class="sidebar-logo">
        <img src="../../assets/images/kremen-sidebar.png" alt="">
    </div>
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">якість життя</a></li>
        <li><a href="#">транспорт</a></li>
        <li><a href="#">благоустрій</a></li>
        <li><a href="#">медицина</a></li>
        <li><a href="#">освіта </a></li>
        <li><a href="#">екологія</a></li>
        <li><a href="#">дозвілля та спорт</a></li>
        <li><a href="#">безпека</a></li>
        <li><a href="#">діяльніть установ</a></li>
        <li><a href="#">умови для життя</a></li>
        <li><a href="#">соціяальне благополуччя</a></li>
        <li><a href="#">матеріальне благополуччя</a></li>
    </ul>
