<footer>
    <div class="col-lg-12">
        <div class="row footer-bar"></div>
        <div class="row footer-content">
            <div class="col-md-4">
                <img src="assets/images/image-footer.png" alt="" class="footer-image">
            </div>
            <div class="col-md-4">
                <div class="footer-icons-group">
                    <a href="#">
                    <img src="assets/images/facebook%20(1).png" alt="" class="footer-icons"></a>&nbsp;
                    <a href="#">
                    <img src="assets/images/twitter%20(1).png" alt="" class="footer-icons"></a>&nbsp;
                    <a href="#">
                    <img src="assets/images/google%20(1).png" alt="" class="footer-icons"></a>
                    <a href="#">
                    <img src="assets/images/youtube%20(1).png" alt="" class="footer-icons"></a>
                </div>
            </div>
            <div class="col-md-4 footer-info">
                <span id="footer-info-title">Наші контакти:</span>
                <br> Площа Перемоги 2, м. Кременчук, 39600
                <br> (0536)73-00-34 (0536)73-00-54
            </div>
        </div>
        <div class="row footer-bottom-text">
            <span>
                 Міський портал вiдкритих даних
              </span>
            <span id="spanfoo">
          <script>
            var span = document.getElementById("spanfoo");
            var d = new Date();
            span.innerHTML = d.getFullYear();
          </script>
              
          
            </span>
        </div>
    </div>
</footer>