<!-- Circle icon diagram component-->
<div class="col-md-3 circle-diagram-col" ">
  <a href="index.php?view={ctg}&id={id}">    
    <div id="circle-diagram-{id}"></div>
    <p class="circle-diagram-title">{title}</p>
  </a>
</div>

<script>
    $("#circle-diagram-{id}").circliful({
        animation: 1,
        animationStep: 5,
        foregroundBorderWidth: 15,
        backgroundBorderWidth: 15,
        percent: {dat},
        textSize: 28,
        percentageY: 107,
        textStyle: 'font-size: 12px;',
        textColor: '#666',
    });
</script>

<!-- /component -->
