.main {
    min-height: 600px;
    width: auto;
    /* background-color: green;  */
    display: block;
}

.main-title {
    min-height: 430px;
    width: auto;
    position: relative;
    background-image: url(../../assets/images/background-city2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.bike {
    height: 70px;
    width: 100px;
    position: relative;
    bottom: -355px;
    left: -150px;

}
.bike img{
    height: 100%;
    width: 100%;
}
#main-text{
   
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;

}
#main-text1 {
    font-size: 30px;
    font-weight: 300;
    text-align: top;
    color: #436882;
}

#main-text2 {
    font-weight: 700;
    color: #436882;
    font-size: 40px;
}

a {
    color: #436882!important;
}

a:hover {
    text-decoration: none;
    color: #2A4151!important;
}


.city-panels {
    display: block;
    margin: 10px;
    margin-bottom: 40px;
    padding: 25px 30px 15px 30px;
    /*     background-color: lightgreen; */
}

.btn {
    border: 1px solid #B3D2F0!important;
    background-color: #B3D2F0!important;
    color: #436882!important;
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 0px!important;
}

.btn:hover {
    border: 1px solid #417FC4!important;
    border-radius: 0px!important;
}

.city-panels-title {

    font-size: 22px;
}

.city-panels-text {
    margin-top: 10px;
    color: #738A9D;
    font-size: 14px;

    min-height: 70px;
}

.fine-line {
    height: 2px;
    width: auto;
    background-color: #B3D2F0;
}

@media screen and (min-width: 300px) and (max-width: 768px) {

    .sr2 {
        display: none;
    }
    .main-title {
        margin-top: 20px;
    }
    
    .bike{
        display: none;
    }

    .main-title{
        display: none;
    }
}
@media screen and (min-width: 1800px){

    .main-title{
        min-height: 650px;
    }
    .bike{
        bottom: -550px;
        height: 90px;
        width: 120px;
    }
    
}
@media screen and (min-width: 2200px){

    .bike{
        bottom: -537px;
        height: 110px;
        width: 140px;
    }
    
}
@media screen and (min-width: 2400px){

    .bike{
       display: none;
    }
    
}

 @media screen and (min-width: 400px) and (max-width: 600px) {
     
     .header-icons-group {
         display: none;
     }
       .bike{
        display: none;
    }
     .main-title{
        display: none;
    }
 }

 @media screen and (min-width: 600px) and (max-width: 800px) {

     .header-icons-group {
         display: none;
     }
       .bike{
        display: none;
    }
     .main-title{
        display: none;
    }
 }

 @media screen and (min-width: 800px) and (max-width: 1200px) {

      .bike{
        display: none;
    }
     .main-title{
        display: none;
    }
 }