<div class="main">
    <div id="main-text">
        <span id="main-text1">ПОРТАЛ ВІДКРИТИХ ДАНИХ</span>
        <br>
        <span id="main-text2">ПАНЕЛЬ МІСТА</span>
    </div>
    <div class="main-title">
        <div class="bike">
            <img src="../../assets/images/bike2.gif" alt="">
        </div>
    </div>
    <div class="container">
        <div class="aos-all" id="transcroller-body" style="overflow: hidden!important;">
            <div class="aos-item" data-aos="fade-up">
                <div class="aos-item__inner">
                    <div class="row" style="margin-top: 5vh; ">
                        <div class="col-md-4">
                            <div class="city-panels">
                                <div class="row city-panels-title">
                                    <a href="index.php?view=stats">
                     Статистика
                </a>
                                </div>
                                <div class="row fine-line"></div>
                                <div class="row city-panels-text">Основні статистичні показники життя міста</div>
                                <div class="row">
                                    <a href="index.php?view=stats">
                                        <button type="button" class="btn btn-default">Детальніше</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="city-panels">
                                <div class="row city-panels-title">
                                    <a href="index.php?view=life">
                    Якість життя</a></div>
                                <div class="row fine-line"></div>
                                <div class="row city-panels-text">Показники оцінювання якості життя мешканцями міста</div>
                                <div class="row">
                                    <a href="index.php?view=life">
                                    <button type="button" class="btn btn-default">Детальніше</button>
                                </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="city-panels">
                                <div class="row city-panels-title"> <a href="index.php?view=strategy">Стратегія</a></div>
                                <div class="row fine-line"></div>
                                <div class="row city-panels-text">Показники ефективності виконання Комплексної стратегії розвитку Львова до 2025 року</div>
                                <div class="row">
                                    <a href="index.php?view=strategy">
                                    <button type="button" class="btn btn-default">Детальніше</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {


function bike(){

    var timeout;

    for (var i = 0; i <= 5; i++) {

       timeout= setInterval(bike2(i),200); 

    }

}

function bike2(i){
     $(".bike").animate({ left: "+2500px" }, 25000);
     $(".bike").animate({ left: "-150px" }, 2);

}

bike();


  

/*function test(){
    vartimeout;
    for (var i = 1; i <= 10; i++) {
    timeut = setInterval(test2(i), 1000);
    }
}

function test2(i){

    alert(i);

    i++;

}

test();*/

});
</script>