<div class="col-xs-12">
    <div class="container">
        <div id="main-text" style="margin-bottom: 50px;">
            <span id="main-text2">ПРО ПОРТАЛ</span>
            <br>
            <span id="main-text1">ПАНЕЛЬ МІСТА</span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row about-image">
                    <img src="../../assets/images/krm-about/3.jpg" alt="">
                </div>
                <div class="row city-panels-text cpt2">Проект «Панель міста» - це відкрита платформа із показниками з різних сфер життя міста. Метою проекту є створення можливості безперешкодного доступу громадськості до основних показників розвитку міста у зручному форматі.</div>
            </div>
            <div class="col-md-4">
                <div class="row about-image">
                    <img src="../../assets/images/krm-about/1.jpg" alt="">
                </div>
                <div class="row row city-panels-text cpt2">Загалом на порталі «Панель міста» можна ознайомитись з даними, які описують такі сфери як населення, бюджет міста, показники економічного розвитку міста, благоустрій, комунальні послуги, транспорт, освіта, охорона здоров’я, безпека, культура, адміністративні послуги тощо, а також переглянути дані в динаміці з 2010 року.</div>
            </div>
            <div class="col-md-4">
                <div class="row about-image">
                    <img src="../../assets/images/krm-about/2.jpg" alt="">
                </div>
                <div class="row row city-panels-text cpt2">Проект розроблений спільно ЛКП "Міський центр інформаційних технологій" Львівської міської ради, Комунальною установою Інститут міста у співпраці з компаніями Sigma Software та Eucalipse в рамках Програми цифрового перетворення Львова до 2020 року.</div>
            </div>
        </div>
        <div id="transcroller-body" class="aos-all" style="overflow: hidden;">
            <div class="aos-item" data-aos="fade-up">
                <div class="aos-item__inner">
                    <div class="row" style="margin-top: 5vh;">
                        <div class="col-md-4">
                            <div class="city-panels">
                                <div class="row city-panels-title">
                                    <a href="index.php?view=stats">
                     Статистика
                </a>
                                </div>
                                <div class="row fine-line"></div>
                                <div class="row city-panels-text">У цьому розділі Ви можете ознайомитись із основними статистичними показниками від різних підрозділів Львівської міської ради, а також інших установ, що описують стан справ в різних сферах життя міста. Показники актуальні станом на 2016 рік.</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="city-panels">
                                <div class="row city-panels-title">
                                    <a href="index.php?view=life">
                    Якість життя</a></div>
                                <div class="row fine-line"></div>
                                <div class="row city-panels-text">Показники у цьому розділі відображають суб’єктивні оцінки мешканців щодо якості життя у місті. Показники розраховані згідно з методологією дослідження якості життя у місті, розробленою Інститутом міста та Соціологічною агенцією "Фама". Детальніше з методологією можна ознайомитись за посиланням.</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="city-panels">
                                <div class="row city-panels-title"> <a href="index.php?view=strategy">Стратегія</a></div>
                                <div class="row fine-line"></div>
                                <div class="row city-panels-text">Тут Ви можете переглянути показники ефективності виконання Комплексної стратегії розвитку Львова до 2025 року. Детальніше з стратегією можна ознайомитись за посиланням.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>