.about-image {
    max-width: 300px;
    height: 245px;
    overflow: hidden;
    margin: auto;
	opacity: 0.8;
}
.about-image:hover {
	opacity: 1;
}

.about-image img {
    height: 100%;
    width: 100%;
}

.cpt2 {
    text-align: center;
    padding: 15px 30px 35px 40px;
}

